<table class="tx-fancycalendar" >
	<tr>
		<td>
			<f:translate key="tx_fancycalendar_domain_model_event.name" />
		</td>
		<td>
			{event.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fancycalendar_domain_model_event.startdatetime" />
		</td>
		<td>
			{event.startdatetime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fancycalendar_domain_model_event.wholedayevent" />
		</td>
		<td>
			{event.wholedayevent}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fancycalendar_domain_model_event.enddatetime" />
		</td>
		<td>
			{event.enddatetime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fancycalendar_domain_model_event.description" />
		</td>
		<td>
			{event.description}
		</td>
	</tr>
</table>